@model CustomerMNG.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Product</h1>

<form asp-controller="Product" asp-action="Save">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group" hidden>
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" class="form-control">
    </div>
    <div class="form-group">
        <label>Category: </label>
        <select asp-for="CategoryId" asp-items="Model.CategorySelections">
            <option> Select Category</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
